@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Merriweather";
}

header {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
}
